@media (max-width: 1500px) {
  .nav-icons {
    display: none;
  }
  .second-page {
    margin-bottom: 50px;
  }
  .second-page__title-box {
    margin-bottom: 90px;
  }
  .second-page__article1 {
    margin-bottom: 50px;
  }
  .second-page__article1--visuals div {
    width: 40vw;
    background-image: url(../assets/img/trade-center.png);
    background: no-repeat cover left;
  }
  .second-page__article1--visuals div img {
    display: none;
  }
  .second-page__article1--text {
    width: 55%;
    padding: 0 50px 50px;
  }
  .second-page__article2--text {
    width: 50%;
  }
  .second-page__article2--visuals {
    width: 40%;
  }
  .second-page__article2--visuals div {
    background: no-repeat cover left;
    background-image: url(../assets/img/commerce-center.png);
  }
  .second-page__article2--visuals div img {
    display: none;
  }
  .second-page .article-text h4 {
    font-size: 20px;
  }
  .second-page .article-text h3 {
    font-size: 40px;
  }
  .second-page .article-text .location {
    font-size: 12px;
  }
  .third-page {
    padding: 100px 20px 130px;
  }
  .fourth-page .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "first first" "first first" "second third" "fourth fifth";
    max-width: 600px;
    height: 800px;
  }
}
@media screen and (max-width: 1000px) {
  .first-page__content nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .first-page__content nav .nav-logo {
    width: 250px;
    height: 50px;
  }
  .first-page__content nav .nav-list {
    display: none;
  }
  .first-page__content--title {
    font-size: 60px;
  }
  .first-page__content--subtitle {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .second-page {
    padding: 80px 0;
    margin-bottom: 50px;
  }
  .second-page__title-box {
    margin-bottom: 80px;
  }
  .second-page__article1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-bottom: 80px;
  }
  .second-page__article1--visuals {
    display: none;
  }
  .second-page__article1--text {
    padding: 0 50px;
    text-align: center;
    border: 2px solid black;
    width: 60%;
  }
  .second-page__article2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .second-page__article2--text {
    padding: 0 50px;
    text-align: center;
    border: 2px solid black;
    width: 60%;
  }
  .second-page__article2--visuals {
    display: none;
  }
  .more-details-btn {
    margin-bottom: 20px;
  }
  .third-page {
    padding: 100px 30px 70px;
  }
  .third-page .slider {
    margin: 70px auto;
    width: 400px;
  }
  #fifth-page .contacts {
    height: -moz-fit-content;
    height: fit-content;
    padding: 60px;
  }
  #fifth-page .contacts__title-box--title {
    font-size: 36px;
  }
  #fifth-page .contacts-info-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
  }
  #fifth-page .contacts-info-container .contacts-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  #fifth-page .contacts-info-container .contacts-form {
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #fifth-page .contacts-info-container .contacts-form__input {
    font-size: 14px;
    height: 30px;
  }
  #fifth-page .contacts-info-container .contacts-form__submit {
    margin: 50px 0 0;
    font-size: 12px;
  }
  #fifth-page .footer__flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
  }
  #fifth-page .footer .copyrights {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .page-title-blue,
  .page-title-white {
    font-size: 30px;
  }
  .first-page__content--title {
    font-size: 40px;
  }
  .first-page__content--subtitle {
    font-size: 14px;
  }
  .second-page {
    padding: 100px 20px 50px;
    margin-bottom: 50px;
  }
  .second-page__article1--text {
    padding: 20px;
    width: 80%;
  }
  .second-page__article2--text {
    padding: 20px;
    width: 80%;
  }
  .second-page .article-text h4 {
    font-size: 18px;
    margin: 50px 0 10px;
  }
  .second-page .article-text h3 {
    font-size: 24px;
  }
  .second-page .article-text p {
    font-size: 16px;
    margin: 20px 0 40px;
  }
  .second-page .article-text .location {
    font-size: 12px;
  }
  .third-page {
    padding: 100px 20px 70px;
  }
  .third-page__title-box--title {
    font-size: 30px;
  }
  .third-page .slider {
    margin: 20px auto 50px auto;
    width: 300px;
  }
  .third-page .slider .news-card {
    height: 500px;
    margin: 50px 15px 70px;
  }
  .third-page .slider .news-card__article--title {
    font-size: 18px;
    margin: 20px;
  }
  .third-page .slider .news-card__article--text {
    font-size: 16px;
  }
  .third-page .slider .news-card__author--details {
    font-size: 16px;
  }
  .third-page .slider .news-card__author--details .article-date {
    font-size: 12px;
  }
  .fourth-page .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "first" "second" "third" "fourth" "fifth";
    max-width: 300px;
    height: 1000px;
    margin: 10px;
  }
  #fifth-page {
    height: 90vh;
  }
  #fifth-page #map {
    height: 400px;
    width: 100vw;
  }
  #fifth-page .contacts {
    width: 100vw;
    max-width: none;
    position: relative;
    padding: 100px 30px 0;
  }
  #fifth-page .contacts__title-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  #fifth-page .contacts__title-box--line {
    width: 100px;
    border-top: 1px solid #2c4058;
  }
  #fifth-page .contacts-info-container .contacts-form__submit {
    width: 140px;
    margin: 50px 10px;
  }
  #fifth-page .footer {
    height: -moz-fit-content;
    height: fit-content;
  }
  #fifth-page .footer__flex-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  #fifth-page .footer .copyrights {
    text-align: center;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=responsivness.css.map */