@use "mixins" as *;

// fonts:

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf)
    format(truetype);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf)
    format(truetype);
  font-weight: 400;
}

// initial styles:

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;

  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

// first page:
.first-page {
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);

  &__content {
    @include bg-image(100vh, url(../assets/img/hero.png));
    text-align: center;

    nav {
      @include flex(row, space-between, center, 70px);
      padding: 50px 150px;
      color: #ffffff;
      font-size: 14px;
      font-family: "Source Sans 3", sans-serif;

      .nav-logo {
        width: 25%;
        height: 50px;
      }

      .nav-list {
        @include flex(row, space-evenly, center, 70px);

        li {
          @include flex(row, space-between, center, 14px);

          .li-point {
            border: #ffffff 1px solid;
            height: 9px;
            width: 9px;
            border-radius: 50px;
          }
        }

        li:hover .li-point {
          background-color: #ffffff;
        }
      }

      .sm-container {
        @include flex(row, space-between, center, 20px);

        a li {
          @include iconsStyle;
        }
      }
    }

    &--title {
      margin-top: 225px;
      font-size: 80px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    &--subtitle {
      margin: 40px 0 225px;
      font-size: 18px;
      letter-spacing: 0.3em;
    }

    .scroll-icon {
      @include iconsStyle;
      margin: 0 auto 50px auto;
    }
  }
}

// second page:
.second-page {
  color: #2c4058;
  padding-bottom: 150px;

  &__title-box {
    @include flex(column, space-between, center, 30px);
    margin: 100px 0 90px 0;

    &--line {
      width: 100px;
      border-top: 1px solid #2c4058;
    }

    &--title {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #2c4058;
    }
  }

  &__article1 {
    @include flex(row, space-between, center, 0);
    margin-bottom: 140px;

    &--visuals {
      width: 845px;

      div {
        width: 585px;
        height: 470px;
        background-color: #55b7ff;

        img {
          width: 630px;
          height: 470px;
          transform: translate(215px, 57px);
        }
      }
    }

    &--text {
      margin: 0 200px 0 330px;
      width: calc(100% - 350px);
    }
  }

  &__article2 {
    @include flex(row, space-between, center, 0);

    &--text {
      margin: 0 300px 0 200px;
      width: calc(100% - 350px);
    }

    &--visuals {
      width: 845px;
      margin-bottom: 140px;

      div {
        width: 585px;
        height: 470px;
        background-color: #7e5aff;

        img {
          width: 630px;
          height: 470px;
          transform: translate(-215px, 57px);
        }
      }
    }
  }

  .article-text {
    h4 {
      font-size: 22px;
      margin-top: 150px;
    }

    h3 {
      font-size: 44px;
      font-weight: 700;
    }

    p {
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 20px 0 40px;
    }

    .more-details-btn {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      width: 190px;
      height: 50px;
      border: 1px solid #2c4058;
      background-color: #ffffff;
      margin-bottom: 60px;
    }

    .location {
      font-family: "Open Sans";
      font-size: 15px;
      font-style: italic;
    }
  }
}

// third-page:

.third-page {
  background: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  height: 90vh;
  position: relative;
  padding: 150px 100px 50px;

  &__bg-img {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50%;
  }

  &__title-box {
    @include flex(column, space-between, center, 30px);

    &--line {
      width: 100px;
      border-top: 1px solid #ffffff;
    }

    &--title {
      font-size: 44px;
      font-weight: 700;
      text-align: center;
      color: #ffffff;
    }
  }

  .slider {
    margin: 70px 115px 0;

    .news-card {
      width: 85%;
      height: 500px;
      margin: 20px 20px 70px 20px;
      background-color: #ffffff;
      color: #2c4058;
      text-align: left;

      &__img1 {
        background-image: url("../assets/img/news1.png");
        background-size: cover;
        width: 100%;
        height: 45%;
      }

      &__article {
        height: 55%;

        &--title {
          font-family: "Montserrat", sans-serif;
          font-size: 22px;
          margin: 20px;
          font-weight: 700;
        }

        &--text {
          font-family: "Open Sans";
          font-size: 18px;
          padding: 10px 20px 15px;
        }
      }

      &__author {
        @include flex(row, start, center, 30px);
        padding: 20px 40px 0;

        &--img {
          width: 60px;
          height: 60px;
          border-radius: 50px;
        }

        &--details {
          @include flex(column, center, start, 15px);
          font-family: "Montserrat", sans-serif;
          font-weight: 400;

          .author-name {
            font-size: 18px;
          }

          .article-date {
            font-size: 14px;
            color: #55b7ff;
          }
        }
      }
    }
  }
}
