@use "mixins" as *;

// fonts:

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf)
    format(truetype);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans 3";
  src: url(../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf)
    format(truetype);
  font-weight: 400;
}

// initial styles:

body {
  @include fontChange("Montserrat", sans-serif, 400);
  color: #ffffff;
  overflow-x: hidden;

  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.sm-container {
  @include flex(row, space-between, center, 20px);

  a button {
    @include iconsStyle;
  }
}

// first page:
.first-page {
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);

  &__content {
    @include bg-image(100vh, url(../assets/img/hero.png));
    text-align: center;

    nav {
      @include flex(row, space-between, center, 70px);
      @include fontAdjust(14px, #ffffff);
      padding: 50px 150px;
      font-family: "Source Sans 3", sans-serif;

      .nav-logo {
        width: 25%;
        height: 50px;
      }

      .nav-list {
        @include flex(row, space-evenly, center, 70px);

        li {
          @include flex(row, space-between, center, 14px);

          .li-point {
            border: #ffffff 1px solid;
            height: 9px;
            width: 9px;
            border-radius: 50px;
          }
        }

        li:hover .li-point {
          background-color: #ffffff;
        }
      }
    }

    &--title {
      margin-top: 225px;
      font-size: 80px;
      font-weight: 700;
      letter-spacing: 0.1em;
    }

    &--subtitle {
      margin: 40px 0 225px;
      font-size: 18px;
      letter-spacing: 0.3em;
    }

    .scroll-icon {
      @include iconsStyle;
      margin: 0 auto 50px auto;
    }
  }
}

// second page:
.second-page {
  color: #2c4058;
  padding: 100px 0 150px;

  &__title-box {
    @include flex(column, space-between, center, 30px);
    margin-bottom: 90px;

    &--line {
      width: 100px;
      border-top: 1px solid #2c4058;
    }

    &--title {
      @include fontAdjust(44px, #2c4058);
      font-weight: 700;
      text-align: center;
    }
  }

  &__article1 {
    @include flex(row, space-between, center, 0);
    margin-bottom: 140px;

    &--visuals {
      width: 845px;

      div {
        width: 585px;
        height: 470px;
        background-color: #55b7ff;

        img {
          width: 630px;
          height: 470px;
          transform: translate(215px, 57px);
        }
      }
    }

    &--text {
      margin: 0 200px 0 330px;
      width: calc(100% - 350px);
    }
  }

  &__article2 {
    @include flex(row, space-between, center, 0);

    &--text {
      margin: 0 300px 0 200px;
      width: calc(100% - 350px);
    }

    &--visuals {
      width: 845px;
      margin-bottom: 140px;

      div {
        width: 585px;
        height: 470px;
        background-color: #7e5aff;

        img {
          width: 630px;
          height: 470px;
          transform: translate(-215px, 57px);
        }
      }
    }
  }

  .article-text {
    h4 {
      font-size: 22px;
      margin-top: 150px;
    }

    h3 {
      @include fontChange("Montserrat", sans-serif, 700, 44px);
    }

    p {
      @include fontChange("Open Sans", serif, 400, 18px);
      line-height: 30px;
      margin: 20px 0 40px;
    }

    .location {
      @include fontChange("Open Sans", serif, 400, 15px);
      font-style: italic;
    }
  }
}

.more-details-btn {
  @include fontChange("Montserrat", sans-serif, 400, 14px);
  text-align: center;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: #ffffff;
  margin-bottom: 60px;

  &:hover {
    border: 2px solid #2c4058;
    box-shadow: 0 0 20px #2c4058;
  }
}

// third-page:

.third-page {
  background: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  height: 90vh;
  position: relative;
  padding: 100px 100px 50px;

  &__bg-img {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50%;
  }

  &__title-box {
    @include flex(column, space-between, center, 30px);

    &--line {
      width: 100px;
      border-top: 1px solid #ffffff;
    }

    &--title {
      @include fontAdjust(44px, #ffffff);
      font-weight: 700;
      text-align: center;
    }
  }

  .slider {
    margin: 70px 115px 0;

    .news-card {
      height: 500px;
      margin: 20px 20px 70px 20px;
      background-color: #ffffff;
      color: #2c4058;
      text-align: left;

      &:hover {
        box-shadow: 0 0 20px #ffffff;
      }

      &__img1 {
        @include newsImg(url("../assets/img/news1.png"));
      }

      &__img2 {
        @include newsImg(url("../assets/img/news2.png"));
      }

      &__img3 {
        @include newsImg(url("../assets/img/news3.png"));
      }

      &__img4 {
        @include newsImg(url("../assets/img/news4.jpg"));
      }
      &__img5 {
        @include newsImg(url("../assets/img/news5.jpg"));
      }

      &__img6 {
        @include newsImg(url("../assets/img/news6.avif"));
      }

      &__article {
        height: 55%;

        &--title {
          @include fontChange("Montserrat", sans-serif, 700, 22px);
          margin: 20px;
          height: 15%;
        }

        &--text {
          @include fontChange("Open Sans", serif, inherit, 18px);
          padding: 10px 20px 15px;
          height: 20%;
        }
      }

      &__author {
        @include flex(row, start, center, 30px);
        padding: 20px 30px 0;

        &--img {
          width: 60px;
          height: 60px;
          border-radius: 50px;
        }

        &--details {
          @include flex(column, center, start, 15px);
          @include fontChange("Montserrat", sans-serif, 400, 18px);

          .article-date {
            @include fontAdjust(14px, #55b7ff);
          }
        }
      }
    }
  }
}

// FOURTH PAGE

.fourth-page {
  padding: 100px 50px;
  height: 100vh;

  &__title-box {
    @include flex(column, space-between, center, 30px);

    &--line {
      width: 100px;
      border-top: 1px solid #2c4058;
    }

    &--whiteTitle {
      @include fontAdjust(44px, #2c4058);
      font-weight: 700;
      text-align: center;
    }
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "first first second third"
      "first first fourth fifth";
    width: calc(100% - 300px);
    height: 500px;
    margin: 90px 150px;
    gap: 15px 15px;

    .gallery-img--1 {
      @include galleryPic(first, url("../assets/img/gallery1.png"));
    }

    .gallery-img--2 {
      @include galleryPic(second, url("../assets/img/gallery2.png"));
    }

    .gallery-img--3 {
      @include galleryPic(third, url("../assets/img/gallery3.png"));
    }

    .gallery-img--4 {
      @include galleryPic(fourth, url("../assets/img/gallery4.png"));
    }

    .gallery-img--5 {
      @include galleryPic(fifth, url("../assets/img/gallery5.png"));
    }
  }

  .gallery-btn-box {
    @include flex(row, center, center, 0);
  }
}

// FIFTH PAGE

#fifth-page {
  position: relative;

  #map {
    height: 700px;
    width: 100%;
  }

  .contacts {
    width: 770px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 60px 60px 0;
    box-sizing: border-box;

    &__title-box {
      @include flex(column, space-between, center, 30px);

      &--line {
        width: 100px;
        border-top: 1px solid #2c4058;
      }

      &--title {
        @include fontAdjust(44px, #2c4058);
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    &-info-container {
      @include fontChange("Montserrat", sans-serif, 400, 18px);
      @include flex(row, space-evenly, start, 20px);
      color: #2c4058;
      padding-top: 10px;

      .contacts-info {
        @include flex(column, center, start, 40px);
        width: 50%;
      }

      .contacts-icon {
        margin-right: 20px;
        color: #7e5aff;
        transition-duration: 500ms;

        &:hover {
          transform: scale(1.3);
          transition-duration: 500ms;
        }
      }

      .contacts-form {
        width: 50%;
        @include flex(column, start, end, 5px);

        &__input {
          @include fontChange("Montserrat", sans-serif, 400, 18px);
          border: none;
          border-bottom: 1px solid #2c4058;
          outline: none;
          background-color: transparent;
          width: 85%;
          height: 40px;
        }

        &__submit {
          width: 140px;
          margin-top: 30px;
        }
      }
    }
  }

  .footer {
    @include bg-image(550px, url(../assets/img/footer.png));
    @include flex(column, center, center, 0);
    background: linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);

    &__flex-container {
      @include flex(row, space-between, center, 100px);
      width: 770px;
    }

    .copyrights {
      margin-top: 40px;
      font-size: 14px;
    }
  }
}
