@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf) format(truetype);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans 3";
  src: url(../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf) format(truetype);
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;
}
body ul {
  list-style: none;
}
body ul a {
  text-decoration: none;
  color: inherit;
}

.first-page {
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
}
.first-page__content {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  text-align: center;
}
.first-page__content nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 50px 150px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}
.first-page__content nav .nav-logo {
  width: 25%;
  height: 50px;
}
.first-page__content nav .nav-list {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
}
.first-page__content nav .nav-list li {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.first-page__content nav .nav-list li .li-point {
  border: #ffffff 1px solid;
  height: 9px;
  width: 9px;
  border-radius: 50px;
}
.first-page__content nav .nav-list li:hover .li-point {
  background-color: #ffffff;
}
.first-page__content nav .sm-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.first-page__content nav .sm-container a li {
  border: 1px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-content: center;
}
.first-page__content--title {
  margin-top: 225px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.first-page__content--subtitle {
  margin: 40px 0 225px;
  font-size: 18px;
  letter-spacing: 0.3em;
}
.first-page__content .scroll-icon {
  border: 1px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-content: center;
  margin: 0 auto 50px auto;
}

.second-page {
  color: #2c4058;
  padding-bottom: 150px;
}
.second-page__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 100px 0 90px 0;
}
.second-page__title-box--line {
  width: 100px;
  border-top: 1px solid #2c4058;
}
.second-page__title-box--title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #2c4058;
}
.second-page__article1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 140px;
}
.second-page__article1--visuals {
  width: 845px;
}
.second-page__article1--visuals div {
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
}
.second-page__article1--visuals div img {
  width: 630px;
  height: 470px;
  transform: translate(215px, 57px);
}
.second-page__article1--text {
  margin: 0 200px 0 330px;
  width: calc(100% - 350px);
}
.second-page__article2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.second-page__article2--text {
  margin: 0 300px 0 200px;
  width: calc(100% - 350px);
}
.second-page__article2--visuals {
  width: 845px;
  margin-bottom: 140px;
}
.second-page__article2--visuals div {
  width: 585px;
  height: 470px;
  background-color: #7e5aff;
}
.second-page__article2--visuals div img {
  width: 630px;
  height: 470px;
  transform: translate(-215px, 57px);
}
.second-page .article-text h4 {
  font-size: 22px;
  margin-top: 150px;
}
.second-page .article-text h3 {
  font-size: 44px;
  font-weight: 700;
}
.second-page .article-text p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 40px;
}
.second-page .article-text .more-details-btn {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: #ffffff;
  margin-bottom: 60px;
}
.second-page .article-text .location {
  font-family: "Open Sans";
  font-size: 15px;
  font-style: italic;
}

.third-page {
  background: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  height: 90vh;
  position: relative;
  padding: 100px 100px 50px;
}
.third-page__bg-img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50%;
}
.third-page__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.third-page__title-box--line {
  width: 100px;
  border-top: 1px solid #ffffff;
}
.third-page__title-box--title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.third-page .slider {
  margin: 70px 115px 0;
}
.third-page .slider .news-card {
  height: 500px;
  margin: 20px 20px 70px 20px;
  background-color: #ffffff;
  color: #2c4058;
  text-align: left;
}
.third-page .slider .news-card:hover {
  box-shadow: 0 0 20px #2c4058;
}
.third-page .slider .news-card__img1 {
  background-image: url("../assets/img/news1.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img2 {
  background-image: url("../assets/img/news2.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img3 {
  background-image: url("../assets/img/news3.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img4 {
  background-image: url("../assets/img/news4.jpg");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img5 {
  background-image: url("../assets/img/news5.jpg");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img6 {
  background-image: url("../assets/img/news6.avif");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__article {
  height: 55%;
}
.third-page .slider .news-card__article--title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 20px;
  font-weight: 700;
  height: 15%;
}
.third-page .slider .news-card__article--text {
  font-family: "Open Sans";
  font-size: 18px;
  padding: 10px 20px 15px;
  height: 20%;
}
.third-page .slider .news-card__author {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 20px 30px 0;
}
.third-page .slider .news-card__author--img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.third-page .slider .news-card__author--details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.third-page .slider .news-card__author--details .author-name {
  font-size: 18px;
}
.third-page .slider .news-card__author--details .article-date {
  font-size: 14px;
  color: #55b7ff;
}/*# sourceMappingURL=styles.css.map */