@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans-Italic.ttf) format(truetype);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans 3";
  src: url(../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf) format(truetype);
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  overflow-x: hidden;
}
body ul {
  list-style: none;
}
body ul a {
  text-decoration: none;
  color: inherit;
}

.sm-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sm-container a button {
  border: 1px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-content: center;
  background-color: transparent;
  color: #ffffff;
}
.sm-container a button:hover {
  box-shadow: 0 0 20px #ffffff;
}

.first-page {
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
}
.first-page__content {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  text-align: center;
}
.first-page__content nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 50px 150px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}
.first-page__content nav .nav-logo {
  width: 25%;
  height: 50px;
}
.first-page__content nav .nav-list {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
}
.first-page__content nav .nav-list li {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.first-page__content nav .nav-list li .li-point {
  border: #ffffff 1px solid;
  height: 9px;
  width: 9px;
  border-radius: 50px;
}
.first-page__content nav .nav-list li:hover .li-point {
  background-color: #ffffff;
}
.first-page__content--title {
  margin-top: 225px;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.first-page__content--subtitle {
  margin: 40px 0 225px;
  font-size: 18px;
  letter-spacing: 0.3em;
}
.first-page__content .scroll-icon {
  border: 1px solid #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  align-content: center;
  background-color: transparent;
  color: #ffffff;
  margin: 0 auto 50px auto;
}
.first-page__content .scroll-icon:hover {
  box-shadow: 0 0 20px #ffffff;
}

.second-page {
  color: #2c4058;
  padding: 100px 0 150px;
}
.second-page__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 90px;
}
.second-page__title-box--line {
  width: 100px;
  border-top: 1px solid #2c4058;
}
.second-page__title-box--title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #2c4058;
}
.second-page__article1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 140px;
}
.second-page__article1--visuals {
  width: 845px;
}
.second-page__article1--visuals div {
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
}
.second-page__article1--visuals div img {
  width: 630px;
  height: 470px;
  transform: translate(215px, 57px);
}
.second-page__article1--text {
  margin: 0 200px 0 330px;
  width: calc(100% - 350px);
}
.second-page__article2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.second-page__article2--text {
  margin: 0 300px 0 200px;
  width: calc(100% - 350px);
}
.second-page__article2--visuals {
  width: 845px;
  margin-bottom: 140px;
}
.second-page__article2--visuals div {
  width: 585px;
  height: 470px;
  background-color: #7e5aff;
}
.second-page__article2--visuals div img {
  width: 630px;
  height: 470px;
  transform: translate(-215px, 57px);
}
.second-page .article-text h4 {
  font-size: 22px;
  margin-top: 150px;
}
.second-page .article-text h3 {
  font-size: 44px;
  font-weight: 700;
}
.second-page .article-text p {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 40px;
}
.second-page .article-text .location {
  font-family: "Open Sans";
  font-size: 15px;
  font-style: italic;
}

.more-details-btn {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  background-color: #ffffff;
  margin-bottom: 60px;
}
.more-details-btn:hover {
  border: 2px solid #2c4058;
  box-shadow: 0 0 20px #2c4058;
}

.third-page {
  background: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
  height: 90vh;
  position: relative;
  padding: 100px 100px 50px;
}
.third-page__bg-img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50%;
}
.third-page__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.third-page__title-box--line {
  width: 100px;
  border-top: 1px solid #ffffff;
}
.third-page__title-box--title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.third-page .slider {
  margin: 70px 115px 0;
}
.third-page .slider .news-card {
  height: 500px;
  margin: 20px 20px 70px 20px;
  background-color: #ffffff;
  color: #2c4058;
  text-align: left;
}
.third-page .slider .news-card:hover {
  box-shadow: 0 0 20px #ffffff;
}
.third-page .slider .news-card__img1 {
  background-image: url("../assets/img/news1.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img2 {
  background-image: url("../assets/img/news2.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img3 {
  background-image: url("../assets/img/news3.png");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img4 {
  background-image: url("../assets/img/news4.jpg");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img5 {
  background-image: url("../assets/img/news5.jpg");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__img6 {
  background-image: url("../assets/img/news6.avif");
  background-size: cover;
  width: 100%;
  height: 45%;
}
.third-page .slider .news-card__article {
  height: 55%;
}
.third-page .slider .news-card__article--title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 20px;
  font-weight: 700;
  height: 15%;
}
.third-page .slider .news-card__article--text {
  font-family: "Open Sans";
  font-size: 18px;
  padding: 10px 20px 15px;
  height: 20%;
}
.third-page .slider .news-card__author {
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding: 20px 30px 0;
}
.third-page .slider .news-card__author--img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.third-page .slider .news-card__author--details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.third-page .slider .news-card__author--details .author-name {
  font-size: 18px;
}
.third-page .slider .news-card__author--details .article-date {
  font-size: 14px;
  color: #55b7ff;
}

.fourth-page {
  padding: 100px 50px;
  height: 100vh;
}
.fourth-page__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.fourth-page__title-box--line {
  width: 100px;
  border-top: 1px solid #2c4058;
}
.fourth-page__title-box--whiteTitle {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #2c4058;
}
.fourth-page .gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "first first second third" "first first fourth fifth";
  width: calc(100% - 300px);
  height: 500px;
  margin: 90px 150px;
  gap: 15px 15px;
}
.fourth-page .gallery-grid .gallery-img--1 {
  grid-area: first;
  background-image: url("../assets/img/gallery1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-page .gallery-grid .gallery-img--1:hover {
  box-shadow: 0 0 10px #2c4058;
  border: solid 2px #2c4058;
}
.fourth-page .gallery-grid .gallery-img--2 {
  grid-area: second;
  background-image: url("../assets/img/gallery2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-page .gallery-grid .gallery-img--2:hover {
  box-shadow: 0 0 10px #2c4058;
  border: solid 2px #2c4058;
}
.fourth-page .gallery-grid .gallery-img--3 {
  grid-area: third;
  background-image: url("../assets/img/gallery3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-page .gallery-grid .gallery-img--3:hover {
  box-shadow: 0 0 10px #2c4058;
  border: solid 2px #2c4058;
}
.fourth-page .gallery-grid .gallery-img--4 {
  grid-area: fourth;
  background-image: url("../assets/img/gallery4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-page .gallery-grid .gallery-img--4:hover {
  box-shadow: 0 0 10px #2c4058;
  border: solid 2px #2c4058;
}
.fourth-page .gallery-grid .gallery-img--5 {
  grid-area: fifth;
  background-image: url("../assets/img/gallery5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-page .gallery-grid .gallery-img--5:hover {
  box-shadow: 0 0 10px #2c4058;
  border: solid 2px #2c4058;
}
.fourth-page .gallery-btn-box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#fifth-page {
  position: relative;
}
#fifth-page #map {
  height: 700px;
  width: 100%;
}
#fifth-page .contacts {
  width: 770px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 60px 60px 0;
  box-sizing: border-box;
}
#fifth-page .contacts__title-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#fifth-page .contacts__title-box--line {
  width: 100px;
  border-top: 1px solid #2c4058;
}
#fifth-page .contacts__title-box--title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #2c4058;
  margin-bottom: 30px;
}
#fifth-page .contacts-info-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: start;
  gap: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2c4058;
  padding-top: 10px;
}
#fifth-page .contacts-info-container .contacts-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
  width: 50%;
}
#fifth-page .contacts-info-container .contacts-icon {
  margin-right: 20px;
  color: #7e5aff;
  transition-duration: 500ms;
}
#fifth-page .contacts-info-container .contacts-icon:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
}
#fifth-page .contacts-info-container .contacts-form {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: end;
  gap: 5px;
}
#fifth-page .contacts-info-container .contacts-form__input {
  border: none;
  border-bottom: 1px solid #2c4058;
  outline: none;
  background-color: transparent;
  width: 85%;
  height: 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
#fifth-page .contacts-info-container .contacts-form__submit {
  width: 140px;
  margin-top: 30px;
}
#fifth-page .footer {
  width: 100%;
  height: 550px;
  background-image: url(../assets/img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);
}
#fifth-page .footer__flex-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 770px;
}
#fifth-page .footer .copyrights {
  margin-top: 40px;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */